body {
  background: hsl(202, 100%, 98%);
}

header {
  margin: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.remaining-days {
  font-size: 0.5em;
}

.actions * {
  margin: 0 5px;
}

.recent-log {
  text-align: center;
  margin-top: 50px;
}

.recent-log h2 {
  font-size: 1.62em;
}

.recent-log li {
  font-size: 1.2em;
  margin: 0;
}

.leaders {
  display: grid;
  grid-gap: 10px;
  max-width: 800px;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
}

.leaders > div {
  text-align: center;
}

.leaders > div img {
  width: 100%;
  margin: 20px 0;
}

.leaders .league-icon {
  width: 30px;
  float: left;
  margin: 10px 0;
}

.league-table {
  display: grid;
  grid-template-columns: 60% minmax(120px, 1fr) minmax(120px, 1fr);
  width: 250px;
}
@media(min-width: 800px){
  .league-table {
    width: 600px;
    grid-template-columns: 80% minmax(120px, 1fr) minmax(120px, 1fr);
  }
}

.league {
  display: flex;
  flex-direction: column;
  width: 250px;
}
@media(min-width: 800px){
  .league {
    margin: 50px auto;
    width: 720px;
  }
}

.league-icon {
  float: left;
  margin-right: 20px;
}

.league-label {
  font-weight: bold;
}

.league-cell {
  background: linear-gradient(to bottom, hsla(0, 0%, 98%, 1) 20%, hsla(232, 32%, 94%, 1) 38%, hsl(213, 18%, 89%) 45%);
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 0 10px;
  color: #3058b2;
  border: 1px #e4e4e4 solid;
  border-width: 1px 0;
}

@media(min-width: 800px){
  .league-cell {
    font-size: 24px;
  }
}

.league-img {
  border-radius: 100%;
  width: 38px;
  margin-right: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.container.show-form {
  grid-template-columns: 1fr 1fr;
}

.container.show-form .info {
  display: block;
}

.info {
  display: none;
  padding: 15px;
}

.info label, .info select {
  display: block;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 20px;
  background: #def3ff;
  margin: 20px 0;
  grid-gap: 5px;
}

@media(max-width: 800px){
  .calendar {
    display: block;
  }
  .calendar .day:not(.today) {
    display: none;
  }
}

.calendar ul {
  font-size: 10px;
  list-style: none;
  padding: 0;
}

.calendar li {
  margin: 5px 0;
}

.calendar .day {
  border: 2px #a8dfff dashed;
  padding: 10px;
  border-radius: 4px;
}

.calendar h3 {
  margin: 0;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #a8dfff;
}

.calendar .gone {
  /* background: #b6ebff; */
}

.calendar .today {
  background: #f0fbff;
}

.calendar img {
  width:10px;
}

.calendar .planned {
  /* opacity: 0.6; */
}
/* .calendar .coming .logged */